[global]
limits = { forms = 32768 }

[development]
address = "localhost"
port = 8000
log = "normal"
secret_key = "ebX2LbNb8vVqqNHqeaeAZzR+orGhrMqTuo7PkIhOFJg="
template_dir = "src/templates/"
assets_dir = "src/assets/"

[production]
address = "0.0.0.0"
port = 8000
log = "critical"
workers= 8
secret_key = "NIqxfW55N2Fkgeb1As00hR7FLFW+EI5int0tmnbIKhc="
template_dir = "templates/"
assets_dir = "assets/"
