[global]
limits = { forms = 32768 }

[development]
address = "localhost"
port = 8000
log = "normal"
secret_key = "ebX2LbNb8vVqqNHqeaeAZzR+orGhrMqTuo7PkIhOFJg="
template_dir = "src/templates/"
assets_dir = "src/assets/"
vpn_config_dir = "/home/oleg/Documents/tgvpn/"
vpn_current_config_symlink_name = "current_config"
vpn_service_name = "tgvpn"

[production]
address = "192.168.1.10"
port = 80
log = "critical"
workers= 8
secret_key = "NIqxfW55N2Fkgeb1As00hR7FLFW+EI5int0tmnbIKhc="
template_dir = "templates/"
assets_dir = "assets/"
vpn_config_dir = "/opt/tgvpn"
vpn_current_config_symlink_name = "current_config"
vpn_service_name = "tgvpn"
