[global]
address = "localhost"
port = 8000
limits = { forms = 32768 }

[development]
log = "normal"
secret_key = "ebX2LbNb8vVqqNHqeaeAZzR+orGhrMqTuo7PkIhOFJg="

[production]
address = "0.0.0.0"
port = 80
log = "critical"
secret_key = "NIqxfW55N2Fkgeb1As00hR7FLFW+EI5int0tmnbIKhc="
