<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="pure-min.css">
	<link rel="stylesheet" href="side-menu.css">
	<link rel="stylesheet" href="main.css">

	{% block head %}
	<title>{% block title %}{% endblock title %} - bbb webui</title>
	{% endblock head %}
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

<div id="layout">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
      <!-- Hamburger icon -->
      <span></span>
  </a>

	<div id="menu">
		{% block menu %}
		TODO: DEFINE MENU BLOCK IN CHILD TEMPLATE
		{% endblock menu %}
	</div>

  <div id="main">
    <div class="header">
      <h1>{% block header %}{% endblock header %}</h1>
    </div>

    <div class="content">
      {% block content %}{% endblock content %}
    </div>
  </div>
</div>

</body>

<script src="ui.js"></script>
<script src="main.js"></script>

</html>
