{% macro menu(active) %}
  <div class="pure-menu">
    <ul class="pure-menu-list">
      <li class="pure-menu-item {% if active == "vpn" %}pure-menu-selected{% endif %}"><a href="/" class="pure-menu-link">VPN</a></li>
      <li class="pure-menu-item {% if active == "system" %}pure-menu-selected{% endif %}"><a href="/system" class="pure-menu-link">System</a></li>
    </ul>
  </div>
{% endmacro menu %}
