{% extends "_layout" %}
{% import "_menu" as menu %}
{% block menu %}
{{ menu::menu(active="index") }}
{% endblock menu %}


{% block title %}Index{% endblock title %}
{% block header %}Index{% endblock header %}

{% block content %}
{% endblock content %}
