{% extends "_layout" %}
{% import "_menu" as menu %}
{% block menu %}
{{ menu::menu(active="system") }}
{% endblock menu %}


{% block title %}System{% endblock title %}

{% block header %}
System
{% endblock header %}

{% block content %}
{% endblock content %}
