{% extends "_layout" %}
{% import "_menu" as menu %}
{% block menu %}
{{ menu::menu(active="vpn") }}
{% endblock menu %}


{% block title %}VPN{% endblock title %}

{% block header %}
VPN
{% endblock header %}

{% block content %}
{% endblock content %}
